* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  padding: 40px;
}
.table tr th {
  border: #eee 1px solid;
  position: relative;
  font-size: 12px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.table-responsive {
  padding: 10px;
  border: #eee 1px solid;
  border-radius: 10px;
  position: relative;
}
#popup {
  display: none;
  position: absolute;
  width: 40vw;
  height: 60vh;
  z-index: 1000;
  top: 50%;
  border-radius: 20px;
  box-shadow: 4px 3px 5px solid black;
  left: 50%; /* Changed "right" to "left" */
  transform: translate(-50%, -50%);
}
#popup-container {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
}

.closebtn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.closebtn:hover {
  color: red;
}

.formbold-mb-3 {
  margin-bottom: 15px;
}
.formbold-relative {
  position: relative;
}
.formbold-opacity-0 {
  opacity: 0;
}
.formbold-stroke-current {
  stroke: #ffffff;
  z-index: 999;
}
#supportCheckbox:checked ~ div span {
  opacity: 1;
}
#supportCheckbox:checked ~ div {
  background: #19191a;
  border-color: #19191a;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-img {
  display: block;
  margin: 0 auto 45px;
}

.formbold-input-wrapp > div {
  display: flex;
  gap: 20px;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder,
select.formbold-form-input,
.formbold-form-input[type="date"]::-webkit-datetime-edit-text,
.formbold-form-input[type="date"]::-webkit-datetime-edit-month-field,
.formbold-form-input[type="date"]::-webkit-datetime-edit-day-field,
.formbold-form-input[type="date"]::-webkit-datetime-edit-year-field {
  color: rgba(83, 99, 135, 0.5);
}

.formbold-form-input:focus {
  border-color: #19191a;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #536387;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-checkbox-label {
  display: flex;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #536387;
}
.formbold-checkbox-label a {
  margin-left: 5px;
  color: #19191a;
}
.formbold-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.formbold-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-top: 2px;
  border: 0.7px solid #dde3ec;
  border-radius: 3px;
}

.formbold-form-file {
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(83, 99, 135, 0.5);
}
.formbold-form-file::-webkit-file-upload-button {
  display: none;
}
.formbold-form-file:before {
  content: "Upload";
  display: inline-block;
  background: #eeeeee;
  border: 0.5px solid #e7e7e7;
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: #637381;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #19191a;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-w-45 {
  width: 45%;
}
@media (max-width: 1500px) {
  #popup {
    width: 100vw;
    height: 100vh;
  }
}
.container-pre {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #353842;
}
.spinner {
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;
}
@keyframes spinner {
  from {
  }
  to {
    transform: rotate(360deg);
  }
}
.preview-container{
  display: none;
  position: absolute;
  width: 80vw;
  height: 60vh;
  z-index: 1000;
  top: 50%;
  border-radius: 20px;
  box-shadow: 4px 3px 5px solid black;
  left: 50%; /* Changed "right" to "left" */
  transform: translate(-50%, -50%);
}
.preview-container-in {
  position: relative;
  box-shadow: 8px 10px 6px 2px #888888;
  width: 100%;
  height: 100%;
  overflow: auto;

  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding: 50px;
}

.closebtnn {
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.closebtnn:hover {
  color: red;
}
.blur-background {
  filter: blur(10px); /* Adjust the blur intensity as needed */
}
